@charset "UTF-8";

:root {
    --color1: #96CDFF; /*Light Sky Blue*/
    --color2: #3A4F41; /*Feldgrau*/
    --color3: #FF8811; /*UT orange*/
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    background-color: var(--color1);
    font-family: Arial, Helvetica, sans-serif; /*Modify*/
}

header h1 {
    margin: 40px;
    text-align: center;
    font-size: 3em;
}

main {
    min-height: 100%; /*sticky footer*/
    margin-bottom: -10px; /*sticky footer*/
}

main:after { /*sticky footer*/
    content: "";
    display: block;
    height: 10px;
}

section {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 45vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}

h2, h3 {
    color: var(--color2);
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}